.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
browser/
dart_doc/
key.jks
.DS_Store

Android/
*.iml
.gradle
.idea
*.jks
*.keystore
.env
.env.local

ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.modulemap
ios/Flutter/GeneratedPluginRegistrant.*
ios/.symlinks/
ios/.generated/
ios/Flutter/flutter_export_options.json
ios/Flutter/flutter_export_options.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_view.h
ios/Flutter/FlutterViewController.h
ios/Flutter/GeneratedPluginRegistrant.h
ios/Flutter/GeneratedPluginRegistrant.m
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner/GoogleService-Info.plist

web/flutter.js
web/flutter_service_worker.js
